.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.small-text {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.completed {
  text-decoration: line-through;
}
